/* ========== アプリ全体の背景色 ========== */
body {
    background-color: #121212; /* アプリ全体の背景色 (黒) */
    margin: 0; /* 余白をなくす */
}

/* ========== プッシュメッセージ用のスタイル ========== */
.push-tab-container {
    background-color: #fff; /* プッシュメッセージの背景色 (白) */
    padding: 20px; /* 内側のパディング */
}

/* ========== プッシュ通知カード ========== */
.push-notification-card {
    background-color: rgba(255, 255, 255, 0.9);  /* 半透明の白背景 */
    border-radius: 10px;
    padding: 10px;
    width: 320px; /* 通知カードの幅 */
    box-shadow: 2px 2px 2px #f7f7f7; /* ボックスシャドウ (通知カード) */
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

/* ========== サムネイル部分（画像） ========== */
.push-notification-card .thumb-container {
    width: 30%;
    padding-right: 10px;
}

.push-notification-card .thumb-container img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover; /* 画像が枠に収まるように調整 */
}

/* ========== テキスト部分 ========== */
.push-notification-card .text-container {
    width: 70%;
    padding-left: 10px;
}

.push-notification-card .text-container .title {
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600; /* タイトルの太字 */
}

.push-notification-card .text-container .subject {
    font-size: 13px; /* 本文の文字サイズ */
}

/* 通知ボックスの初期状態（非表示） */
#push-notification-box {
    opacity: 0;
    transform: translateY(-50px); /* 上からスライドイン */
    background-color: rgba(255, 255, 255, 0.9);  /* 半透明の白背景 */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* 影を追加 */
}

/* アニメーションを表示時に適用 */
#push-notification-box.show {
    opacity: 1;
    transform: translateY(0); /* スライドアップ */
}

/* プッシュ通知の表示位置 */
#push-notification-display {
    position: absolute;
    top: 200px; /* 画面上部に配置 */
    left: 49%;
    transform: translateX(-50%); /* 中央に配置 */
    z-index: 9999;  /* 高いz-indexで他の要素の上に表示 */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}